html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  font-size: 16px;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #f1f2f6;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-login {
  width: 280px;
  height: 40px;
  background-color: #fa314a;
  color: #ffffff;
  font-weight: 500;
}

.alert {
  color: #fa314a;
}

.btn {
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.btn-primary {
  background-color: #fa314a;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

.content-table {
  font-family: "Mukta", sans-serif;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 500px;
  width: 100%;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #2f3542;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #f1f2f6;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #eaeaec;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #2f3542;
}

.admin__wrapper {
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 67, 147, 0.9)), to(rgba(45, 52, 54, 0.9))), url("../img/background.jpg");
  background-image: linear-gradient(rgba(232, 67, 147, 0.9), rgba(45, 52, 54, 0.9)), url("../img/background.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__login {
  height: 300px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.admin_heading {
  text-align: center;
  font-family: "Mukta", sans-serif;
}

.admin_heading h1 {
  font-size: 1.2rem;
}

.admin_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.admin__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin__input input {
  width: 280px;
  height: 45px;
  border: 2px solid #b6bbc9;
  border-radius: 4px;
  margin: 8px;
}

.admin__input .fa {
  position: absolute;
  margin: 20px;
  color: #b6bbc9;
}

.admin__input button {
  margin-top: 20px;
  margin-left: 10px;
}

#admin_email,
#admin_pass {
  padding-left: 30px;
  margin-left: 10px;
}

.dash__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dash__logo img {
  height: 40px;
}

.dash__pages ul {
  list-style-type: none;
}

.dash__pages ul li {
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  padding: 0.8rem;
}

.dash__pages ul li .fa {
  color: #2e3952;
}

.dash__pages ul li a {
  color: #2f3542;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
  text-decoration: none;
}

.active {
  background-color: #f1f2f6;
  font-size: 1.1rem;
  border-right: 2px solid #ff666f;
}

.dash__link:hover {
  background-color: #f1f2f6;
  border-right: 2px solid #ff666f;
}

.dash__link ul li a {
  font-weight: 600;
}

.dash__logout {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #f1f2f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dash__sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dash__main {
  position: relative;
  width: calc(100% - 250px);
  right: 0;
  margin-left: 250px;
  padding: 20px;
}

.dash__heading {
  padding: 1rem;
}

.dash__heading h1 {
  font-family: "Rubik", sans-serif;
  color: #2f3542;
}

.dash__table {
  margin-top: 20px;
  width: 98%;
  background-color: #ffffff;
  padding-top: 20px;
  margin-bottom: 20px;
}

.dash__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.detail__container {
  font-family: "Rubik", sans-serif;
  position: relative;
  height: 100px;
  width: 220px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.detail__container .fa {
  margin: 30px;
  position: absolute;
  font-size: 40px;
  color: #ced6e0;
}

.detail__container p {
  text-align: right;
  padding: 20px;
  font-size: 50px;
  color: #686de0;
}

.detail__container span {
  position: absolute;
  padding: 10px;
  margin-top: 60px;
  margin-left: 20px;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */