//Colors definition

$white: #ffffff;
$heading: #2f3542;
$bg-light: #fdf5ec;
$bg-dark-blue: #1b2130;
$bg-light-blue: #2e3952;
$primary: #ff666f;
$primary2: #fa314a;
$secondary: #b6bbc9;
$gray: #f1f2f6;
